/* 
    Created on : Dec 15, 2019, 9:10:50 PM
    Author     : cristiana
*/

#copyright {
    float: left;
    color: darkgrey;
}

#date {
    float: right;
    color: darkgrey;
}

hr {
   color: darkgrey; 
}

.rightElement {
    float: right;
    vertical-align: middle;
    padding-left: 5px;
}

.leftElement {
    float: left;
    vertical-align: middle;
}

#footer {
    float: bottom;
    background-color: white;
}

#header {
    background-color: lightgray;
    overflow: hidden;
    border-width:2px;
    border-color:lightgray;
    border-style:solid;
}

